---
---
.leaderboard {
  font-size: 2em;
}

body {
  background-color: #CF0018;
  color: white;
  font-family: 'Fredoka One', cursive;
}


h1{
  padding: 50px;

}

.list-group-flush .list-group-item {
    border-top: 0;
}

.list-group-item {
  background-color: #CF0018;
  border: 1px solid white;
}

.list-group-item:hover{
  background-color: white ;
  color: #CF0018
}
